{% extends 'index.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ puzzle.name }}</h1>
</div>

{% if puzzle.key_name == 'power_control' %}
    {% include 'puzzle-1.html' %}
{% endif %}

{% if puzzle.key_name == 'status_board' %}
    {% include 'puzzle-2.html' %}
{% endif %}

{% if puzzle.key_name == 'datamatic' %}
    {% include 'puzzle-4.html' %}
{% endif %}

{% if puzzle.key_name == 'safeomatic' %}
    {% include 'puzzle-5.html' %}
{% endif %}

{% if puzzle.key_name == 'rcp' %}
    {% include 'puzzle-6.html' %}
{% endif %}

{% if puzzle.key_name == 'life_support' %}
    {% include 'puzzle-8.html' %}
{% endif %}

{% if puzzle.key_name == 'docked_ship' %}
    {% include 'puzzle-9.html' %}
{% endif %}

{% if puzzle.key_name == 'prep_status' %}
    {% include 'puzzle-10.html' %}
{% endif %}

{% if puzzle.key_name == 'lasergrid' %}
    {% include 'puzzle-11.html' %}
{% endif %}

{% if puzzle.key_name == 'keypad' %}
    {% include 'puzzle-12.html' %}
{% endif %}

{% if puzzle.key_name == 'laserbar' %}
    {% include 'puzzle-13.html' %}
{% endif %}

{% endblock %}