{% extends 'index.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<form action="" id="frm">
    <svg width="1100" height="400" fill="black">
        <!-- Background -->
        <rect x="0" y="0" width="1100" height="400" fill="LightGray" stroke="black" stroke-width="1" />
        <!-- Power Switch -->
        <rect id="power" x="40" y="20" width="30" height="30" fill="white" stroke="black" stroke-width="1" />
        <text x="90" y="40" style="fill: none; stroke: #000000;  font-size: 30px;">POWER</text>

        <!-- Battery Level -->
        <text x="90" y="110" style="fill: none; stroke: #000000;  font-size: 30px;">Baterry Level</text>
        <rect id="b7" x="40" y="80" width="40" height="40" fill="white" stroke="black" stroke-width="1" />
        <rect id="b6" x="40" y="120" width="40" height="40" fill="white" stroke="black" stroke-width="1" />
        <rect id="b5" x="40" y="160" width="40" height="40" fill="white" stroke="black" stroke-width="1" />
        <rect id="b4" x="40" y="200" width="40" height="40" fill="white" stroke="black" stroke-width="1" />
        <rect id="b3" x="40" y="240" width="40" height="40" fill="white" stroke="black" stroke-width="1" />
        <rect id="b2" x="40" y="280" width="40" height="40" fill="white" stroke="black" stroke-width="1" />
        <rect id="b1" x="40" y="320" width="40" height="40" fill="white" stroke="black" stroke-width="1" />

        <!-- Supply and Demand Status -->
        <text x="300" y="100" style="fill: none; stroke: #000000;  font-size: 30px;">SUPPLY:</text>
        <foreignObject x="300" y="130" width="200" height="150">
            <input name="txtSupply" type="text" value="No Data" />
        </foreignObject>

        <text x="500" y="100" style="fill: none; stroke: #000000;  font-size: 30px;">DEMAND:</text>
        <foreignObject x="500" y="130" width="200" height="150">
            <input name="txtDemand" type="text" value="No Data" />
        </foreignObject>

        <!-- Power Control -->
        <text x="300" y="250" style="fill: none; stroke: #000000;  font-size: 30px;">POWER CONTROL</text>
        <foreignObject x="300" y="280" width="200" height="150">
            <input name="txtPower" type="text" value="No Data" />
        </foreignObject>

        <!-- Connection Status -->
        <text x="750" y="300" style="fill: none; stroke: #000000;  font-size: 30px;">Connection:</text>
        <foreignObject x="940" y="280" width="200" height="150">
            <input name="txtConnection" type="text" style="width:150px;" value="No Connection" />
        </foreignObject>


        <!-- Puzzle Status -->
        <text x="750" y="360" style="fill: none; stroke: #000000;  font-size: 30px;">Puzzle Status:</text>
        <foreignObject x="940" y="340" width="200" height="150">
            <input name="txtStatus" type="text" style="width:150px;" value="No Data " />
        </foreignObject>
    </svg>
</form>
{% endblock %}